<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>电子发票</key>
		<string>电子发票是由电子发票服务平台生成的数字证明信息，是经过税务系统认证的，与传统纸质发票具有同等法律效应，可做为用户报销，维权，保修的有效凭证；同时还具有易保存、易查找的优点。请您放心，如需使用，可通过您的订单号在电子发票查询中进行查询，自行打印即可。</string>
	</dict>
	<dict>
		<key>配送时效</key>
		<string>1、发货时效承诺：买家订单支付成功后，商城会在2日内发货。如异常原因，如需调货、货损、入库等待等情况，发货时间可能会延迟1-2日。（商城页面指定发货时间的商品除外）
2、到货时效承诺：正常情况下商品会在货物发出后2-3日内送达；特殊情况下或偏远地区，如跨仓/区发货、在途货损、自然灾害等原因，时效会略有延迟，一般会在3-7天左右。（商城页面指定送达时间的商品除外）</string>
	</dict>
	<dict>
		<key>保修政策</key>
		<string>电视保修政策：电视整机包修1年，主要部件包修3年。主要部件包含显示屏、背光组件、逻辑组件、高频调谐器。
手机保修政策：手机机体包修1年，电池包修6个月，原装耳机包修3个月，充电器（座）包修1年。
净化器保修政策：净化器整机包修1年，主要部件包修1年。主要部件包括：线控器、压缩机。
空调保修政策：空调整机和主要部件包修6年，遥控器包修1年，智能模块包修1年。主要部件包括压缩机、电路板、电机、电子膨胀阀等。</string>
	</dict>
	<dict>
		<key>预约安装</key>
		<string>如您需要预约安装或维修，可以拨打海信安装热线4008-011-111或维修热线4006-111-111；您也可以关注“海信在线”微信公众号进行预约安装和维修；还可以查询服务进度、服务网点、三包政策、保外收费及配件收费标准等。</string>
	</dict>
	<dict>
		<key>进行评价</key>
		<string>在您确认收货后，登录海信商城，点击“我的订单”，找到您想要评价的订单，点击“评价”即可。</string>
	</dict>
</array>
</plist>
